@mixin caption {
    font-size: #{px-to-rem(12px)};
    line-height: px-to-rem(16px);
    letter-spacing: 0;
}

@mixin body {
    font-size: #{px-to-rem(16px)};
    line-height: #{px-to-rem(24px)};
    letter-spacing: 0;
}
