$primary-color: var(--primary-color);
$primary-light-color: var(--primary-light-color);

$content-color: var(--content-color);

$gray-color: var(--gray-color);
$gray-light-color: var(--gray-light-color);
$gray-rgb-value: var(--gray-rgb-value);

$white-color: var(--white-color);
$white-ish-color: var(--white-ish-color);
