@import 'helpers';

.avatar {
    border-radius: 9999px; // NOTE: To make it rounded. This value is based on Tailwind.css
    border: 1px solid $gray-light-color;

    position: relative;
    overflow: hidden;

    img {
        object-fit: contain;
    }
}
