$animation-duration: 1250ms;

.indeterminate-g {
    transform-origin: center;

    .indeterminate & {
        animation: rotate $animation-duration infinite linear;
    }
}

.indeterminate-path {
    stroke-dasharray: 56.52 0;
    stroke-dashoffset: 0;
    transform-origin: center;

    .indeterminate & {
        animation: fill-animated $animation-duration infinite cubic-bezier(0.4, 0, 0.2, 1), rot 5s infinite steps(4);
    }
}

@keyframes rotate {
    to {
        transform: rotate(378deg); // 360 + (360 * 5%)
    }
}

@keyframes fill-animated {
    from {
        stroke-dasharray: 2.83 53.69; // radius*PI*5%
    }

    50% {
        stroke-dasharray: 42.39 14.13; // radius*PI*75%
        stroke-dashoffset: 0;
    }

    to {
        stroke-dasharray: 2.83 53.69; // radius*PI*5%
        stroke-dashoffset: -39.69; // 75%-5%
    }
}
@keyframes rot {
    to {
        transform: rotate(-360deg);
    }
}
