.input {
    &:-webkit-autofill {
        // Prevent style changes on browser's autofill
        // stylelint-disable-next-line property-no-vendor-prefix
        -webkit-background-clip: text;
    }
}
