@import 'helpers';

$icon-size: 24px;

.container {
    position: relative;

    height: #{px-to-rem(40px)};

    border-radius: 4px;
    background-color: $white-ish-color;

    $container: &;

    &_input {
        width: 100%;
        height: 100%;
        padding: #{px-to-rem(16px)} #{px-to-rem(24px)};

        cursor: pointer;

        border: none;
        outline: none;
        background-color: transparent;
        caret-color: $primary-color;

        @include body;

        &:disabled {
            cursor: not-allowed;
        }
    }

    &_icon {
        position: absolute;
        top: 0;
        right: #{px-to-rem(8px)};

        margin: auto 0;
        padding: #{px-to-rem(2px)};
        width: $icon-size;
        height: 100%;

        display: flex;
        align-items: center;
    }

    &_loading {
        pointer-events: none;
    }

    &_clear {
        border: none;
        outline: none;
        background-color: transparent;

        cursor: pointer;

        padding: 0;
    }
}
