* {
    box-sizing: border-box;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3a558b;
    --primary-light-color: #7587aa;

    --content-color: #212121;

    --gray-color: #616161;
    --gray-light-color: #9e9e9e;
    --gray-rgb-value: 97, 97, 97;

    --white-color: #ffffff;
    --white-ish-color: #f5f5f5;
}
