@import 'helpers';

// NOTE: The complete height of the Input is 64px. An extra 8px has been reserved
// NOTE: in case the Label is in top of the Input ( Focus or with value states ).
$input-height: 56px;
$icon-size: 24px;

$transition-duration: 250ms;
$border-radius: 4px;

@mixin focus-state {
    @include caption;
    top: -0.5em;
}

@mixin set-fieldset-padding($value) {
    padding-inline-start: $value;
    padding-inline-end: $value;
}

.container {
    padding-top: #{px-to-rem(8px)};
}

.wrapper {
    position: relative;
    display: inline-block;
    $self: &;

    input {
        position: relative;

        @include body;

        height: $input-height;
        padding: 16px;
        padding-right: calc(
            (#{px-to-rem(12px)}) * 1.8 + $icon-size
        ); /* the right padding must be equal to icon size, plus (nearly) twice original padding, typed text should not appear beneath the icon */
        border-radius: $border-radius;

        color: $content-color;
        background-color: transparent;
        border: none;
        outline: none;
        caret-color: $primary-color;

        &::placeholder {
            color: transparent;
            transition: color $transition-duration ease-in-out;
        }
    }

    fieldset {
        box-sizing: border-box;
        direction: inherit;

        width: 100%;
        height: 100%;
        margin: 0;

        position: absolute;
        top: 0;
        z-index: 0;

        pointer-events: none;

        border-radius: 4px;
        border: 1px solid $gray-light-color;

        transition: border-color $transition-duration ease-in-out;

        background-color: transparent;

        legend {
            @include caption;

            display: block;
            visibility: hidden;

            white-space: nowrap;
            line-height: 0;
            text-align: left;

            width: 0;
            height: #{px-to-rem(4px)};
            margin: 0;
            padding: 0;

            @include set-fieldset-padding(0px);
        }
    }

    &__label {
        @include body;

        white-space: nowrap;
        line-height: 1;

        position: absolute;
        left: #{px-to-rem(17px)}; // 16px + 1px
        top: calc(50% - 0.5em); // label must be in middle of input

        pointer-events: none;

        color: $gray-light-color;

        transition: font-size $transition-duration ease-in-out;
        transition-property: top, font-size;
    }

    input:not(:placeholder-shown) + &__label {
        @include focus-state;
    }

    &__force-focus input {
        #{ $self }__label {
            @include focus-state;
        }
    }

    &__force-focus,
    &:focus-within {
        fieldset {
            legend {
                animation: show-legend 0s linear forwards;
                animation-delay: calc(0.8 * $transition-duration);
            }
        }

        input::placeholder {
            color: $gray-color;
        }
    }

    & input:placeholder-shown {
        user-select: none;
    }

    input:not(:focus):hover {
        cursor: pointer;
    }

    &__icon {
        margin: 0;
        padding: #{px-to-rem(2px)};
        width: $icon-size;
        height: $icon-size;

        position: absolute;
        right: #{px-to-rem(12px)};
        top: calc(50% - $icon-size/2);

        color: $gray-light-color;

        transition: opacity $transition-duration ease-in-out;

        &_close {
            opacity: 0;
            border: none;
            background: none;
        }
    }

    &__force-focus input,
    input:focus {
        & ~ fieldset {
            border-color: $primary-color;
        }
    }

    input:hover:not(:focus) ~ fieldset {
        border-color: $gray-color;
    }

    &__force-focus input,
    input:not(:placeholder-shown):focus {
        ~ #{ $self }__icon_close {
            opacity: 1;

            cursor: pointer;
        }
    }

    &__force-focus,
    &:focus-within {
        #{ $self }__label {
            @include focus-state;

            color: $primary-color;
        }
    }

    * {
        z-index: 1;
    }

    &__hide-legend {
        width: 0;
        margin: 0;
        padding: 0;

        display: block !important;
        line-height: 0;

        padding-inline-start: 0px !important;
        padding-inline-end: 0px !important;
    }

    &__force-focus input,
    input:not(:placeholder-shown) {
        & ~ fieldset legend {
            width: auto;

            display: inline-block;

            @include set-fieldset-padding(#{px-to-rem(4px)});
        }
    }
}

@keyframes show-legend {
    to {
        display: inline-block;
        width: auto;
        @include set-fieldset-padding(#{px-to-rem(4px)});
    }
}
