@import 'helpers';

$dropdown-input-height: #{px-to-rem(64px)};

.dropdown {
    box-shadow: 0 1px 3px 0 rgba(#{$gray-rgb-value}, 0.36), 0 2px 1px 0 rgba(#{$gray-rgb-value}, 0.12),
        0 1px 1px 0 rgba(#{$gray-rgb-value}, 0.18);

    position: absolute;
    inset: 100% 0 auto;
    top: $dropdown-input-height;
    z-index: 10;

    visibility: hidden;
    border-radius: 4px;

    padding: #{px-to-rem(8px)};

    background-color: $white-color;

    &--show {
        visibility: visible;
    }

    &__wrapper {
        position: relative;
        display: inline-block;
        overflow: visible;
    }

    &__input {
        display: block;
    }

    &__list {
        width: 100%;
        margin-top: #{px-to-rem(12px)};
        max-height: #{px-to-rem(400px)};
        padding: 0;

        list-style: none;
        overflow: auto;

        &__item {
            width: 100%;
            padding: 0;

            font-weight: normal;

            &__default-item {
                padding: #{px-to-rem(12px)} #{px-to-rem(16px)};

                @include body;
            }
        }
    }

    &__submit {
        margin-top: #{px-to-rem(12px)};
    }
}
