@import 'helpers';

$transition-duration: 500ms;

.list-item {
    list-style: none;
    overflow: hidden;

    &_button {
        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

        transition: background $transition-duration;

        width: 100%;
        padding: 0;
        margin: 0;

        font-weight: normal;

        position: relative;

        &,
        &:focus {
            border: none;
            outline: none;
            background-color: transparent;
        }

        &:hover {
            background-color: $white-ish-color;
        }
    }
}
