@import 'helpers';

.button {
    position: relative;

    padding: #{px-to-rem(8px)} #{px-to-rem(12px)};

    border: 1px solid $primary-color;
    border-radius: #{px-to-rem(4px)};

    text-align: center;

    background-color: transparent;
    color: $content-color;

    cursor: pointer;

    transition: color 300ms ease-in-out;
    transition-property: color, background-color, border-color;

    @include body;

    &,
    &:focus {
        outline: none;
    }

    &:disabled {
        border-color: $gray-light-color;
        color: $gray-light-color;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: $primary-color;
        color: $white-color;
    }

    &_loading {
        position: absolute;
        inset: 0;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_loading-content {
        visibility: hidden;
        opacity: 0;
    }
}
