@import 'helpers';

.container {
    position: relative;

    &_country-item {
        padding: #{px-to-rem(4px)} #{px-to-rem(16px)};

        color: $content-color;

        @include body;

        display: flex;
        align-items: center;
        justify-content: space-between;

        // &__title-avatar {
        //     display: flex;
        //     align-items: center;
        //     column-gap: #{px-to-rem(8px)};
        // }
    }

    &_loading {
        position: absolute;
        inset: 0;
        z-index: 1;

        cursor: wait;

        display: flex;
        align-items: center;
        justify-content: center;

        &__spinner {
            // NOTE: This margin is because of the 8 extra px that have considered for the Input
            // NOTE: Added this to make the loading look like it's in the center of the Input
            margin-top: #{px-to-rem(8px)};
        }
    }
}
