@import 'helpers';

.container {
    display: flex;

    min-height: 100vh;
    padding: 0 #{px-to-rem(8px)};

    &_countries {
        flex: 1;
        height: 100vh; // NOTE: Make it be sticky at the left side and its border to be at full height
        padding: 0 #{px-to-rem(12px)};

        border-right: 1px solid $gray-light-color;

        position: sticky;
        left: 0;
        top: 0;
    }

    &_cities {
        flex: 1;
        padding: 0 #{px-to-rem(12px)};

        // NOTE: This is set for the virtualization
        height: 100vh;
        overflow: hidden;
    }
}
