@import 'helpers';

.container {
    width: 100%;
    height: 100%;
    padding-top: #{px-to-rem(16px)};

    display: flex;
    flex-direction: column;
    overflow: hidden;

    &_filters {
        display: flex;
        align-items: center;
        padding-bottom: #{px-to-rem(24px)};

        &__search-bar {
            flex: 1;
            margin-right: #{px-to-rem(4px)};
        }

        &__sort {
            width: #{px-to-rem(100px)};
        }
    }

    &_loading {
        display: flex;
        justify-content: center;
    }

    &_list {
        width: 100%;
        flex: 1;
        overflow: hidden;

        &__item {
            width: 100%;
            padding: #{px-to-rem(12px)} #{px-to-rem(16px)};

            border-bottom: 1px solid $gray-light-color;

            @include body;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__ad-item {
            background-color: $primary-light-color;
        }

        // &__item-title-avatar {
        //     display: flex;
        //     align-items: center;
        //     column-gap: #{px-to-rem(8px)};
        // }

        &__pinned-item {
            background-color: $white-ish-color;
        }

        &__pin-button {
            width: #{px-to-rem(75px)};
        }
    }
}
