@import 'helpers';

$size: 20px;

.container {
    position: relative;

    width: $size;
    height: $size;

    border: 1px solid $gray-color;
    border-radius: #{px-to-rem(4px)};

    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 300ms ease-in-out;
    transition-property: background-color, border-color;

    cursor: pointer;

    &_selected {
        border-color: $primary-color;
        background-color: $primary-color;
    }
}
